In [40]:
import numpy as np
import pandas as pd
import json

In [3]:
df_liv = pd.read_csv('./live.csv', date_parser='timestamp')
df_ref = pd.read_csv('./reference.csv')

In [30]:
df_liv

               0          1 prediction                   timestamp
0      11.393679 -12.517580        bag  03-09-2021 00:00:03.085497
1      10.602499 -12.165340        bag  03-09-2021 00:00:07.392757
2       2.161259  -0.241680       coat  03-09-2021 00:00:07.978729
3       9.252301  13.202354    trouser  03-09-2021 00:00:14.663417
4      -0.835732  -2.689010      shirt  03-09-2021 00:00:15.927015
...          ...        ...        ...                         ...
43090   0.711305  12.965924      dress  07-09-2021 23:59:23.056818
43091   2.810259  -1.368679       coat  07-09-2021 23:59:25.011796
43092  15.594177   1.110968     sandal  07-09-2021 23:59:25.936525
43093  15.772076   0.294253     sandal  07-09-2021 23:59:51.321341
43094   7.935606  -4.631267   pullover  07-09-2021 23:59:52.036383

[43095 rows x 4 columns]

In [27]:
cat_list = df_ref.label.unique()
cat_list.sort()
cat_list

array(['ankle boot', 'bag', 'coat', 'dress', 'pullover', 'sandal',
       'shirt', 'sneaker', 't-shirt', 'trouser'], dtype=object)

In [28]:
df_ref['cat_id'] = df_ref.apply(
    lambda x: np.where(cat_list == x.label)[0][0], axis=1
)

In [33]:
df_liv['cat_id'] = df_liv.apply(
    lambda x: np.where(cat_list == x.prediction)[0][0], axis=1
)

In [36]:
df_liv

               0          1 prediction                   timestamp  cat_id
0      11.393679 -12.517580        bag  03-09-2021 00:00:03.085497       1
1      10.602499 -12.165340        bag  03-09-2021 00:00:07.392757       1
2       2.161259  -0.241680       coat  03-09-2021 00:00:07.978729       2
3       9.252301  13.202354    trouser  03-09-2021 00:00:14.663417       9
4      -0.835732  -2.689010      shirt  03-09-2021 00:00:15.927015       6
...          ...        ...        ...                         ...     ...
43090   0.711305  12.965924      dress  07-09-2021 23:59:23.056818       3
43091   2.810259  -1.368679       coat  07-09-2021 23:59:25.011796       2
43092  15.594177   1.110968     sandal  07-09-2021 23:59:25.936525       5
43093  15.772076   0.294253     sandal  07-09-2021 23:59:51.321341       5
43094   7.935606  -4.631267   pullover  07-09-2021 23:59:52.036383       4

[43095 rows x 5 columns]

In [58]:
list_liv = []
for i in df_liv.index:
    dp = df_liv.loc[i]
    list_liv.append([
       [float(dp[0]), float(dp[1])],
        int(dp.cat_id),
        str(dp.timestamp)
    ])

In [59]:
OUT_FOLDER = './'
with open("{}list_liv.json".format(OUT_FOLDER), "w") as json_file:
    #json_list = json.dumps(list_liv)
    #print(json_list)
    json.dump(list_liv, json_file)